
{% extends 'layout.html' %}

{% block titulo %} inicio {% endblock %}

{% load static %}

{% block contenido %} 
{% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" >
            <img src="{% static 'images/gva.jpg' %}" width="90" height="90" class="d-inline-block align-top" alt="">    
        </a>
                
        <div class=card-body>
        <h2 class ="text- light"> G.V.A. Technology SAC </h1>
        </div>
        <!--Salida de la Aplicacion-->
        
        <a href="/ingresarT/" class ="btn btn-danger float-right" role="button" aria pressed="true">Ingresar</a> 
    </nav> 
    <body class="bg-gray-900 h-screen flex items-center justify-center">


        <div style="text-align: center; padding: 40px 20px;">

            <img src="{% static 'images/Himagen.png' %}"
                width="250"
                height="250"
                style="display: block; margin: 0 auto 25px auto; border-radius: 50%;">

                <h1 style="
                    font-size: 60px;
                    font-weight: 700;
                    color: #000000;
                    margin-bottom: 35px;
                    letter-spacing: 1px;
                    text-shadow: 5px 5px 2px rgba(0,0,0,0.5);
                ">
                    SISTEMA DE CONTROL <br> y MONITOREO REMOTO
                </h1>

                <p style="
                    font-size: 26px;
                    color: #333;
                    font-weight: 600;
                    margin-bottom: 18px;
                    font-style: italic;
                ">
                    “Lo que se puede medir, se puede mejorar; lo que se puede controlar, se puede escalar.”
                </p>

                <p style="
                    font-size: 26px;
                    color: #333;
                    font-weight: 600;
                    font-style: italic;
                ">
                    “Monitorear en tiempo real no es un lujo tecnológico, es la base de un negocio moderno:
                    control, eficiencia y crecimiento.”
                </p>
        </div>

   </body>
{% endblock %}
